<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoldenRules - Your payment has been approved</title>
  </head>
  <body style="background-color:#000;color:#aaa;font-family:sans-serif;text-align:center;padding:30px 0">
    <div style="padding:16px">
      <h1 style="color:#ebc47f">Dear @to_name,</h1>
      <p>Your payment to GoldenRules has been approved by administrator @admin_name.</p>
      <div style="margin:50px">
        <h3>Your payment details</h3>
        <table style="margin:auto;font-size:10px">
          <tr>
            <td style="text-align:right">Transaction ID:</td>
            <td style="text-align:left;vertical-align:bottom">@transaction_id</td>
          </tr>
          <tr>
            <td style="text-align:right">Name:</td>
            <td style="text-align:left;vertical-align:bottom">@to_name</td>
          </tr>
          <tr>
            <td style="text-align:right">Email:</td>
            <td style="text-align:left;vertical-align:bottom;color:#ebc47f">@email</td>
          </tr>
          <tr>
            <td style="text-align:right">Username:</td>
            <td style="text-align:left;vertical-align:bottom">@username</td>
          </tr>
          <tr>
            <td style="text-align:right">Amount:</td>
            <td style="text-align:left;vertical-align:bottom">$@amount USD</td>
          </tr>
          <tr>
            <td style="text-align:right">Date:</td>
            <td style="text-align:left;vertical-align:bottom">@date</td>
          </tr>
        </table>
      </div>
      <p>You now have full access to the paid membership. Thank you for choosing the GoldenRules Family.</p>
      <p>If you need further help related to the payment, please contact us at <a href="mailto:@support_email" style="color:#ebc47f">@support_email</a>.</p>
      <div style="color:#777;font-size:14px;padding:16px">
        Best regards,<br>
        The GoldenRules team.
      </div>
    </div>
    <hr style="border:1px solid #666;width:150px;margin:20px auto">
    <footer style="background-color:#000;color:#999;padding:16px;text-align:center">
      &copy; 2021 GoldenRules - All Rights Reserved
    </footer>
  </body>
</html>