::-ms-clear {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  background-color: #090909;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  line-height: 1.8;
}

@media screen and (max-width: 315px) {
  .body {
    min-width: 315px;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

@media only screen and (min-width: 1100px) {
  .wrapper {
    max-width: 1080px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex.justify-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex.justify-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex.-m-flex-dir-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .flex.flex-no-break {
    -webkit-box-orient: initial !important;
    -webkit-box-direction: initial !important;
    -ms-flex-direction: initial !important;
    flex-direction: initial !important;
  }
}

.btn {
  position: relative;
  display: inline-block;
  margin-right: .55rem;
  font-weight: bold;
  border: none;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  line-height: initial;
  -webkit-appearance: none;
  letter-spacing: 0;
  border-radius: 100px;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  border-radius: inherit;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.btn:disabled {
  opacity: .5;
  cursor: default;
}

.btn.btn-silver {
  background-color: transparent;
  color: #bbbbbb;
  -webkit-box-shadow: inset 0 0 0 1px #bbbbbb;
  box-shadow: inset 0 0 0 1px #bbbbbb;
}

.btn.btn-silver::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn.btn-silver:not(:disabled):hover::before,
.btn.btn-silver:not(:disabled):focus::before,
.btn.btn-silver:not(:disabled):active::before {
  opacity: 1;
}

.btn.btn-gold {
  background-color: #ebc47f;
  color: #000000;
}

.btn.btn-gold::before {
  background-color: rgba(235, 216, 184, 0.7);
  -webkit-box-shadow: 0 1px 10px 0 #ebc47f;
  box-shadow: 0 1px 10px 0 #ebc47f;
}

.btn.btn-gold:not(:disabled):hover::before,
.btn.btn-gold:not(:disabled):focus::before,
.btn.btn-gold:not(:disabled):active::before {
  opacity: 1;
}

.btn.btn-gold-o {
  background: transparent;
  color: #ebc47f;
  -webkit-box-shadow: inset 0 0 0 1px #ebc47f;
  box-shadow: inset 0 0 0 1px #ebc47f;
}

.btn.btn-gold-o::before {
  background-color: rgba(235, 196, 127, 0.2);
  -webkit-box-shadow: 0 0 10px 0 #ebc47f;
  box-shadow: 0 0 10px 0 #ebc47f;
}

.btn.btn-gold-o:not(:disabled):hover::before,
.btn.btn-gold-o:not(:disabled):focus::before,
.btn.btn-gold-o:not(:disabled):active::before {
  opacity: 1;
}

.btn.btn-sm {
  padding: .3rem 1.2rem;
  font-size: .65em;
}

.btn.btn-md {
  padding: .4rem 1.4rem;
  font-size: .65em;
}

.btn.btn-lg {
  padding: .6rem 1.6rem;
  font-size: .75em;
}

.btn.btn-xl {
  padding: .8rem 1.8rem;
  font-size: .95em;
}

.btn.btn-block {
  display: block;
  padding: .7rem 0;
  width: 100%;
}

.btn.btn-block.btn-sm {
  padding: .6rem 1.2rem;
}

input[type="submit"].btn-block {
  width: 100%;
}

/* For mobile screens */
@media only screen and (max-width: 664px) {
  .btn.btn-sm {
    padding-top: .4rem;
  }

  .btn.btn-md {
    padding-top: .55rem;
    padding-bottom: .55rem;
  }

  .btn.btn-lg {
    padding-top: .65rem;
    padding-bottom: .65rem;
  }

  .btn.btn-xl {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}

.dropdown {
  position: relative;
  display: none;
  pointer-events: none;
}

.dropdown .btn {
  margin: 1rem;
}

.dropdown .btn.btn-block {
  width: auto;
}

.dropdown.active {
  display: block;
  pointer-events: all;
}

.dropdown-contents {
  position: absolute;
  background-color: #1d1d1d;
  z-index: 10;
  margin: .25rem .5rem;
  width: 180px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.dropdown-contents::before {
  position: absolute;
  content: '';
  border-left: 8px solid transparent;
  border-bottom: 8px solid #1d1d1d;
  border-right: 8px solid transparent;
  top: -0.5rem;
}

.dropdown-contents>.dropdown-title {
  font-size: .8rem;
  padding: 1rem;
}

.dropdown-left .dropdown-contents {
  left: 0;
  right: initial;
}

.dropdown-left .dropdown-contents::before {
  left: .65rem;
}

.dropdown-right .dropdown-contents {
  left: initial;
  right: 0;
}

.dropdown-right .dropdown-contents::before {
  right: .65rem;
}

.dropdown-icon {
  position: relative;
  top: .25rem;
  right: .35rem;
}

.dropdown-link {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: .8rem;
  padding: .65rem 1rem;
  text-decoration: none;
  opacity: .6;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.dropdown-link::before {
  position: absolute;
  content: '';
  background-color: #888888;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.dropdown-link:last-child::before {
  border-radius: 0 0 5px 5px;
}

.dropdown-link:hover {
  opacity: 1;
}

.dropdown-link:hover::before {
  opacity: .2;
}

.section-container {
  position: relative;
}

.section-container .section {
  background-color: #141414;
}

.section-container .section:not(:last-child) {
  border-bottom: 1px solid #090909;
}

.section-header {
  padding: 3rem 1rem;
}

.section-paragraph {
  font-family: 'Source Serif Pro';
  font-size: .85rem;
}

.section-paragraph.collapsed {
  height: 0;
  overflow: hidden;
}

.section-title {
  display: inline-block;
  color: #ebc47f;
  font: 800 2rem 'Source Serif Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-sub-title {
  font-family: 'Source Serif Pro';
  line-height: 1.8;
}

@media screen and (max-width: 664px) {
  .section-header {
    padding: 1.5rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-sub-title {
    font-size: 1.15rem;
  }

  .section-paragraph {
    font-size: .8rem;
  }
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid .grid-item {
  position: relative;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 920px) {
  .grid .grid-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 664px) {
  .grid .grid-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 664px) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (max-width: 976px) {
  .-m-grid-col {
    width: 60%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .-m-grid-col {
    width: 60%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 664px) {
  .-m-grid-col {
    width: auto;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
}

.card.card-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.card.card-grey {
  background-color: #1d1d1d;
}

.card.card-dark-grey {
  background-color: #141414;
}

.card.card-centered {
  margin: 0 auto;
}

.card.card-icon {
  padding-left: 2.55rem;
}

.card.card-icon .card-icon-frame {
  position: absolute;
  display: inline-block;
  background-color: #252525;
  padding: .48rem;
  height: 45px;
  width: 45px;
  left: 0;
  top: .5rem;
  border-radius: 100px;
}

.card.card-icon .card-icon-frame .card-icon-img {
  height: 30px;
  width: 30px;
}

.card.card-gold-bordered {
  border: 2px solid #ebc47f;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #ebc47f, #795e30) 2;
  border-image: -webkit-gradient(linear, left top, right top, from(#ebc47f), to(#795e30)) 2;
  border-image: linear-gradient(to right, #ebc47f, #795e30) 2;
}

.card.card-grey-bordered {
  -webkit-box-shadow: inset 0 0 0 2px #1d1d1d;
  box-shadow: inset 0 0 0 2px #1d1d1d;
}

.card.card-animated::before {
  position: absolute;
  content: '';
  background: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.card.card-animated .card-thumbnail-img {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.card.card-animated:hover .card-thumbnail-img,
.card.card-animated:focus .card-thumbnail-img,
.card.card-animated:active .card-thumbnail-img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card.card-animated.card-animated-gold::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #ebc47f, #795e30) 2;
  border-image: -webkit-gradient(linear, left top, right top, from(#ebc47f), to(#795e30)) 2;
  border-image: linear-gradient(to right, #ebc47f, #795e30) 2;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.card.card-animated.card-animated-gold:hover::after,
.card.card-animated.card-animated-gold:focus::after,
.card.card-animated.card-animated-gold:active::after {
  opacity: 1;
}

.card.card-animated:hover::before,
.card.card-animated:focus::before,
.card.card-animated:active::before {
  opacity: .1;
}

.card.card-sm {
  width: 450px;
}

.card.card-md {
  width: 600px;
}

.card.card-lg {
  width: 700px;
}

.card.card-xl {
  width: 850px;
}

.card.card-block {
  height: 100%;
  width: 100%;
}

.card.card-link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.card-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 100%;
  padding-bottom: 65.3%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.card-thumbnail>.card-thumbnail-img {
  position: absolute;
  display: block;
  background-color: #1d1d1d;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.card-header {
  padding: 1rem;
}

.card-body {
  position: relative;
  padding: 1rem;
}

.card-body .avatar-container {
  margin-bottom: .5rem;
}

.card-body .avatar-container .avatar-img,
.card-body .avatar-container .avatar-no-img {
  margin-right: .5rem;
}

.card-footer {
  padding: 1.55rem 1rem 1rem;
}

/* For tablet screens */
@media screen and (max-width: 768px) {
  .card {
    margin: 0;
  }

  .card.card-sm,
  .card.card-md,
  .card.card-lg,
  .card.card-xl {
    width: auto;
  }

  .card.card-block {
    width: auto;
  }

  .card-header .card-header-iconframe .card-header-icon {
    height: 30px;
    width: 30px;
  }

  .card-thumbnail {
    padding-right: initial !important;
  }
}

.form-alert {
  background-color: #e35549;
  color: #ffffff;
  font-size: .8rem;
  margin-bottom: 2rem;
  padding: .8rem 1rem;
  border-radius: 5px;
}

.input-group {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.input-group.input-group-inlined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-label {
  font-size: .8rem;
  color: #888888;
}

.input,
.textarea {
  background-color: rgba(255, 255, 255, 0.05);
  color: #bbbbbb;
  padding: .85rem 1.55rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 100px;
}

.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input:-moz-placeholder,
.textarea::-webkit-input-placeholder,
.textarea::-moz-placeholder,
.textarea:-moz-placeholder {
  color: #888888;
  font-size: .7rem;
}

.input:focus::-webkit-input-placeholder,
.input:focus::-moz-placeholder,
.input:focus:-moz-placeholder,
.textarea:focus::-webkit-input-placeholder,
.textarea:focus::-moz-placeholder,
.textarea:focus:-moz-placeholder {
  color: #555555;
}

.input:disabled,
.textarea:disabled {
  opacity: .5;
}

.input.input-error,
.textarea.input-error {
  -webkit-box-shadow: inset 0 0 0 2px #e35549;
  box-shadow: inset 0 0 0 2px #e35549;
}

.input.input-error+.input-sub-label,
.textarea.input-error+.input-sub-label {
  color: #e35549;
}

.textarea {
  font-family: sans-serif;
  padding-top: 2rem;
  border-radius: 0;
  resize: none;
}

.input-inlined {
  width: 47%;
}

.input-sub-label {
  display: block;
  color: #555555;
  font-size: .7rem;
  margin: .5rem 0;
  margin-left: 1.5rem;
}

@media screen and (max-width: 654px) {
  .input-group {
    margin: 2rem 0;
  }

  .input-group.input-group-inlined {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .input-inlined {
    width: 100%;
  }

  .input-inlined:nth-child(1) {
    margin-bottom: 2rem;
  }
}

.article {
  display: block;
}

.article-header {
  padding: 1rem;
}

.article-title {
  color: #ffffff;
  font: 100 3rem 'Georgia', sans-serif;
  word-break: break-word;
  line-height: 1.4;
}

.article-image-frame {
  position: relative;
  display: block;
  height: 0;
  padding-right: 34.5%;
  padding-bottom: 65.3%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.article-image-frame>.article-image {
  position: absolute;
  display: block;
  background-color: #1d1d1d;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.article-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

.author {
  padding: 1rem;
}

.author>.author-name {
  font-size: 1rem;
  font-weight: normal;
}

.author>.author-sub-text {
  color: #bbbbbb;
  font-size: .75rem;
  margin-top: .15rem;
}

.author>.author-last-edited {
  color: #bbbbbb;
  font-size: .7rem;
}

.article-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 1rem;
  list-style-type: none;
}

.article-share-link {
  margin-left: 1rem;
  text-decoration: none;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.article-share-link:hover,
.article-share-link:focus,
.article-share-link:active {
  opacity: .7;
}

.article-body {
  color: #ffffff;
  padding: 1rem;
  font: normal 1.15rem 'Georgia', sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: .5px;
  line-height: 2;
}

.article-body p,
.article-body h1,
.article-body h3,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6,
.article-body span,
.article-body strong,
.article-body b,
.article-body u,
.article-body i,
.article-body small {
  color: #ffffff !important;
}

.article-body ul,
.article-body ol {
  margin: 1rem 4rem !important;
}

.article-body img {
  width: 100% !important;
}

.article-body a {
  color: #ebc47f !important;
  text-decoration: none !important;
}

.article-footer {
  padding: 1rem;
}

/* For mobile displays */
@media screen and (max-width: 664px) {
  .article-title {
    font-size: 2rem;
    line-height: 1.2;
  }

  .article-body {
    font-size: .75rem !important;
  }

  .author {
    padding: .8rem;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .author>.author-name {
    font-size: .8rem;
  }

  .author>.author-sub-text {
    font-size: .6rem;
    margin-top: .15rem;
  }

  .article-share {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

hr {
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
}

.hr-sm {
  opacity: .5;
  width: 98px;
  margin: 2rem auto;
  border: 1px solid #fff;
}

/* Gradient gold horizontal ruler */
.hr-gradient-gold {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1e-05)), color-stop(#ebc47f), to(rgba(0, 0, 0, 1e-05)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1e-05), #ebc47f, rgba(0, 0, 0, 1e-05));
  margin: 1rem auto;
  height: 2px;
  width: 30%;
  border: none;
}

.hr-gold {
  border: 2px solid #ebc47f;
}

/* Horziontal ruling like -------- OR ------- */
.hr-or::before,
.hr-or::after {
  position: absolute;
  content: '';
  background-color: #888;
  height: 1px;
  width: 60%;
  top: .4rem;
}

.hr-or::before {
  left: -2.55rem;
}

.hr-or::after {
  right: -2.55rem;
}

.hr-or {
  position: relative;
  color: #888;
  font-size: .8rem;
  width: 180px;
  margin: 1rem auto;
  text-align: center;
  text-transform: uppercase;
}

.link-gold,
.link-blue,
.link-grey,
.link-light-grey,
.link-dark-grey,
.link-white {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.link-gold {
  color: #ebc47f;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.link-gold:hover,
.link-gold:focus,
.link-gold:active {
  color: #ebd8b8;
}

.link-blue {
  color: #0c55b6;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.link-blue:hover,
.link-blue:focus,
.link-blue:active {
  color: #4983cf;
}

.link-grey {
  color: #999999;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.link-grey:hover,
.link-grey:focus,
.link-grey:active {
  color: #cccccc;
}

.link-light-grey {
  color: #aaaaaa;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.link-light-grey:hover,
.link-light-grey:focus,
.link-light-grey:active {
  color: #ffffff;
}

.link-dark-grey {
  color: #777777;
}

.link-dark-grey:hover,
.link-dark-grey:focus,
.link-dark-grey:active {
  color: #999999;
}

.link-white {
  color: #ffffff;
}

.link-white:hover,
.link-white:focus,
.link-white:active {
  color: #ffffff;
}

.link-no-underline {
  text-decoration: none;
}

.txt-light {
  font-weight: 300 !important;
}

.txt-bold {
  font-weight: 600 !important;
}

.txt-align-center {
  text-align: center;
}

.txt-align-left {
  text-align: left;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-xs {
  font-size: .6rem;
}

.txt-sm {
  font-size: .7rem;
}

.txt-mds {
  font-size: .8rem;
}

.txt-md {
  font-size: 1rem;
}

.txt-mdl {
  font-size: 1.5rem;
}

.txt-lg {
  font-size: 3rem;
}

.txt-xl {
  font-size: 4rem;
}

.txt-gold {
  color: #ebc47f;
}

.txt-grey {
  color: #999999;
}

.txt-light-grey {
  color: #aaaaaa;
}

.txt-dark-grey {
  color: #777777;
}

.txt-white {
  color: #ffffff;
}

.txt-danger {
  color: #e35549;
}

.txt-info {
  color: #4774c9;
}

.txt-success {
  color: #419b2a;
}

.txt-warning {
  color: #b97323;
}

.txt-break {
  white-space: pre-wrap;
  word-break: break-word;
}

.txt-grad-gold {
  color: #ebc47f;
  background-image: -webkit-gradient(linear, left top, right top, from(#ebc47f), to(#795e30));
  background-image: linear-gradient(to right, #ebc47f, #795e30);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Margins */
.m-1 {
  margin: 1rem;
}

/* All side margin by 1rem */
.m-2 {
  margin: 2rem;
}

/* All side margin by 2rem */
.m-3 {
  margin: 3rem;
}

/* All side margin by 3rem */
.m-4 {
  margin: 4rem;
}

/* All side margin by 4rem */
.m-5 {
  margin: 5rem;
}

/* All side margin by 5rem */
.mt-1 {
  margin-top: 1rem;
}

/* Top margin by 1rem */
.mt-2 {
  margin-top: 2rem;
}

/* Top margin by 2rem */
.mt-3 {
  margin-top: 3rem;
}

/* Top margin by 3rem */
.mt-4 {
  margin-top: 4rem;
}

/* Top margin by 4rem */
.mt-5 {
  margin-top: 5rem;
}

/* Top margin by 5rem */
.mr-1 {
  margin-right: 1rem;
}

/* Right margin by 1rem */
.mr-2 {
  margin-right: 2rem;
}

/* Right margin by 2rem */
.mr-3 {
  margin-right: 3rem;
}

/* Right margin by 3rem */
.mr-4 {
  margin-right: 4rem;
}

/* Right margin by 4rem */
.mr-5 {
  margin-right: 5rem;
}

/* Right margin by 5rem */
.ml-1 {
  margin-left: 1rem;
}

/* Left margin by 1rem */
.ml-2 {
  margin-left: 2rem;
}

/* Left margin by 2rem */
.ml-3 {
  margin-left: 3rem;
}

/* Left margin by 3rem */
.ml-4 {
  margin-left: 4rem;
}

/* Left margin by 4rem */
.ml-5 {
  margin-left: 5rem;
}

/* Left margin by 5rem */
.mb-1 {
  margin-bottom: 1rem;
}

/* Bottom margin by 1rem */
.mb-2 {
  margin-bottom: 2rem;
}

/* Bottom margin by 2rem */
.mb-3 {
  margin-bottom: 3rem;
}

/* Bottom margin by 3rem */
.mb-4 {
  margin-bottom: 4rem;
}

/* Bottom margin by 4rem */
.mb-5 {
  margin-bottom: 5rem;
}

/* Bottom margin by 5rem */
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Margin Y by 1rem */
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Margin Y by 2rem */
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Margin Y by 3rem */
.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Margin Y by 4rem */
.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Margin Y by 5rem */
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Margin X by 1rem */
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Margin X by 2rem */
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Margin X by 3rem */
.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* Margin X by 4rem */
.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Margin X by 5rem */
.ml-auto {
  margin-left: auto;
}

/* Auto margin to the left */
.mr-auto {
  margin-right: auto;
}

/* Auto margin to the right */
.m-auto {
  margin: auto;
}

/* Padding */
.p-1 {
  padding: 1rem;
}

/* All side padding by 1rem */
.p-2 {
  padding: 2rem;
}

/* All side padding by 2rem */
.p-3 {
  padding: 3rem;
}

/* All side padding by 3rem */
.p-4 {
  padding: 4rem;
}

/* All side padding by 4rem */
.p-5 {
  padding: 5rem;
}

/* All side padding by 5rem */
.pt-1 {
  padding-top: 1rem;
}

/* Top padding by 1rem */
.pt-2 {
  padding-top: 2rem;
}

/* Top padding by 2rem */
.pt-3 {
  padding-top: 3rem;
}

/* Top padding by 3rem */
.pt-4 {
  padding-top: 4rem;
}

/* Top padding by 4rem */
.pt-5 {
  padding-top: 5rem;
}

/* Top padding by 5rem */
.pr-1 {
  padding-right: 1rem;
}

/* Right padding by 1rem */
.pr-2 {
  padding-right: 2rem;
}

/* Right padding by 2rem */
.pr-3 {
  padding-right: 3rem;
}

/* Right padding by 3rem */
.pr-4 {
  padding-right: 4rem;
}

/* Right padding by 4rem */
.pr-5 {
  padding-right: 5rem;
}

/* Right padding by 5rem */
.pl-1 {
  padding-left: 1rem;
}

/* Left padding by 1rem */
.pl-2 {
  padding-left: 2rem;
}

/* Left padding by 2rem */
.pl-3 {
  padding-left: 3rem;
}

/* Left padding by 3rem */
.pl-4 {
  padding-left: 4rem;
}

/* Left padding by 4rem */
.pl-5 {
  padding-left: 5rem;
}

/* Left padding by 5rem */
.pb-1 {
  padding-bottom: 1rem;
}

/* Bottom padding by 1rem */
.pb-2 {
  padding-bottom: 2rem;
}

/* Bottom padding by 2rem */
.pb-3 {
  padding-bottom: 3rem;
}

/* Bottom padding by 3rem */
.pb-4 {
  padding-bottom: 4rem;
}

/* Bottom padding by 4rem */
.pb-5 {
  padding-bottom: 5rem;
}

/* Bottom padding by 5rem */
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Padding Y by 1rem*/
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Padding Y by 2rem*/
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Padding Y by 3rem*/
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Padding Y by 4rem*/
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Padding Y by 5rem*/
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Padding X by 1rem */
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Padding X by 2rem */
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Padding X by 3rem */
.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* Padding X by 4rem */
.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Padding X by 5rem */
@media screen and (max-width: 664px) {

  /* Margin */
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5 {
    margin: 1.2rem;
  }

  .mt-1,
  .mt-2,
  .mt-3,
  .mt-4,
  .mt-5 {
    margin-top: 1.2rem;
  }

  .mr-1,
  .mr-2,
  .mr-3,
  .mr-4,
  .mr-5 {
    margin-right: 1.2rem;
  }

  .ml-1,
  .ml-2,
  .ml-3,
  .ml-4,
  .ml-5 {
    margin-left: 1.2rem;
  }

  .mb-1,
  .mb-2,
  .mb-3,
  .mb-4,
  .mb-5 {
    margin-bottom: 1.2rem;
  }

  .my-1,
  .my-2,
  .my-3,
  .my-4,
  .my-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mx-1,
  .mx-2,
  .mx-3,
  .mx-4,
  .mx-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /* Padding */
  .p-1,
  .p-2,
  .p-3,
  .p-4,
  .p-5 {
    padding: 1rem;
  }

  .pt-1,
  .pt-2,
  .pt-3,
  .pt-4,
  .pt-5 {
    padding-top: 1rem;
  }

  .pr-1,
  .pr-2,
  .pr-3,
  .pr-4,
  .pr-5 {
    padding-right: 1rem;
  }

  .pl-1,
  .pl-2,
  .pl-3,
  .pl-4,
  .pl-5 {
    padding-left: 1rem;
  }

  .pb-1,
  .pb-2,
  .pb-3,
  .pb-4,
  .pb-5 {
    padding-bottom: 1rem;
  }

  .py-1,
  .py-2,
  .py-3,
  .py-4,
  .py-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .px-1,
  .px-2,
  .px-3,
  .px-4,
  .px-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(4rem);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(4rem);
    transform: translateY(4rem);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes flash-off {
  from {
    opactiy: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes flash-off {
  from {
    opactiy: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes img-slide-in-left {
  from {
    opacity: 0;
    -webkit-transform: translate(-4rem, -4rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@keyframes img-slide-in-left {
  from {
    opacity: 0;
    -webkit-transform: translate(-4rem, -4rem);
    transform: translate(-4rem, -4rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes img-slide-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate(4rem, 4rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@keyframes img-slide-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate(4rem, 4rem);
    transform: translate(4rem, 4rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes img-outerlay-slide-left {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(-2rem, -2rem);
  }
}

@keyframes img-outerlay-slide-left {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(-2rem, -2rem);
    transform: translate(-2rem, -2rem);
  }
}

@-webkit-keyframes img-outerlay-slide-right {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(2rem, 2rem);
  }
}

@keyframes img-outerlay-slide-right {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(2rem, 2rem);
    transform: translate(2rem, 2rem);
  }
}

.-m-visible-inline,
.-m-visible-block {
  display: none;
}

.-m-hidden {
  display: inline-block;
}

.-m-px-2 {
  padding-left: 0;
  padding-right: 0;
}

.-m-py-2 {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .-m-visible-inline {
    display: inline-block;
  }

  .-m-visible-block {
    display: block;
  }

  .-m-hidden {
    display: none;
  }

  .-m-align-center {
    text-align: center;
  }

  .-m-px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .-m-py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.sticky-banner {
  position: fixed;
  display: none;
  background-color: #141414;
  color: #ffffff;
  padding: 30px;
  width: 100%;
  z-index: 10;
  bottom: 0;
}

.sticky-banner .btn {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .sticky-banner {
    padding: 16px;
    font-size: 12px;
  }
}

.spinner {
  height: 30px;
  width: 30px;
  margin: 2rem auto;
  border: 3px solid #ebc47f;
  border-bottom: 3px solid transparent;
  border-radius: 100px;
  -webkit-animation: spin .7s linear infinite;
  animation: spin .7s linear infinite;
}

.avatar {
  position: relative;
  background-color: #1d1d1d;
  overflow: hidden;
  text-align: center;
  margin-right: .45rem;
  border-radius: 100px;
  z-index: 3;
}

.avatar>.avatar-img {
  display: block;
  border-radius: inherit;
}

.avatar>.avatar-no-img {
  color: #ffffff;
  border-radius: inherit;
  line-height: 0;
}

.avatar.avatar-sm>.avatar-img,
.avatar.avatar-sm>.avatar-no-img {
  height: 30px;
  width: 30px;
}

.avatar.avatar-sm>.avatar-no-img {
  font-size: .8rem;
  padding-top: .9rem;
}

.avatar.avatar-md>.avatar-img,
.avatar.avatar-md>.avatar-no-img {
  height: 50px;
  width: 50px;
}

.avatar.avatar-md>.avatar-no-img {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.avatar.avatar-lg>.avatar-img,
.avatar.avatar-lg>.avatar-no-img {
  height: 80px;
  width: 80px;
}

.avatar.avatar-lg>.avatar-no-img {
  font-size: 2rem;
  padding-top: 2.4rem;
}

/* For mobile displays */
@media screen and (max-width: 664px) {

  .avatar.avatar-sm>.avatar-img,
  .avatar.avatar-sm>.avatar-no-img {
    height: 40px;
    width: 40px;
  }

  .avatar.avatar-sm>.avatar-no-img {
    font-size: 1rem;
    padding-top: 1.2rem;
  }

  .avatar.avatar-md>.avatar-img,
  .avatar.avatar-md>.avatar-no-img {
    height: 50px;
    width: 50px;
  }

  .avatar.avatar-md>.avatar-no-img {
    font-size: 1.2rem;
    padding-top: 1.5rem;
  }

  .avatar.avatar-lg>.avatar-img,
  .avatar.avatar-lg>.avatar-no-img {
    height: 60px;
    width: 60px;
  }

  .avatar.avatar-lg>.avatar-no-img {
    font-size: 1.5rem;
    padding-top: 1.8rem;
  }
}

.bg-img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-img.bg-img-fixed {
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .bg-img.bg-img-fixed {
    background-attachment: initial;
  }
}

#hero-bg-1 {
  background-image: url("../images/hero-bg-1-WeLwOOpD28FdQsXLdEt.jpg");
}

#hero-bg-2 {
  background-image: url("../images/hero-bg-2-dWe2zfSxV2LwDpZoQdsm.jpg");
}

#hero-bg-3 {
  background-image: url("../images/hero-bg-3-d3FhBmKpgRqZAoH5JlN.jpg");
}

#hero-bg-4 {
  background-image: url("../images/hero-bg-4-dWgYjBnMLqAs4Rb9xZsW.jpg");
}

#member-count {
  position: relative;
  background-image: url("../images/member-count-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  /*
	 * Since we have set the border-bottom property for the section class
	 * we don't need bottom border set for this specific one so force remove it
	 */
  border-bottom: none !important;
}

#member-count::before {
  position: absolute;
  content: '';
  background-color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .8;
}

#cookie-section {
  position: relative;
}

#cookie-section.highlighted::before {
  position: absolute;
  content: '';
  background-color: rgba(235, 216, 184, 0.3);
  top: .5rem;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-animation: flash-off .8s 1.15s forwards;
  animation: flash-off .8s 1.15s forwards;
}

.hero {
  position: relative;
  height: 680px;
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.hero::before,
.hero::after {
  position: absolute;
  content: '';
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.2));
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero::after {
  background-image: none;
  background-color: #000000;
  opacity: .6;
  z-index: -1;
}

.hero .hero-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 680px;
  height: 100vh;
}

.hero .hero-container .hero-inner {
  position: relative;
  padding: 1rem;
  width: 500px;
}

.hero .hero-container .hero-inner::before {
  position: absolute;
  content: '';
  background-color: #ebc47f;
  height: 1px;
  width: 10%;
  top: -1rem;
  left: 1rem;
}

.hero .hero-container .hero-inner .btn {
  padding: .5rem 1.55rem;
}

.hero .hero-container .hero-inner .hero-heading {
  display: inline-block;
  color: #ebc47f;
  font: 800 3.55rem 'Source Serif Pro', sans-serif;
  line-height: 1.2;
}

.hero .hero-container .hero-inner .hero-paragraph {
  color: #bbbbbb;
  font-family: 'Source Serif Pro';
  font-size: .9rem;
  letter-spacing: 1px;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .hero .hero-container .hero-inner {
    text-align: center;
    margin: auto;
  }

  .hero .hero-container .hero-inner::before {
    margin: auto;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 664px) {
  .hero .hero-container .hero-inner {
    width: 100%;
  }

  .hero .hero-container .hero-inner .hero-heading {
    font-size: 2.55rem;
  }

  .hero .hero-container .hero-inner .hero-paragraph {
    font-size: .85rem;
  }
}

@media (max-height: 312px) and (max-width: 768px) {
  .hero .hero-container .hero-inner .hero-heading {
    font-size: 1rem;
  }

  .hero .hero-container .hero-inner .hero-paragraph {
    font-size: .75rem;
  }
}

@media (max-height: 212px) and (max-width: 500px) {
  .hero .hero-container .hero-inner .hero-heading {
    font-size: .5rem;
  }

  .hero .hero-container .hero-inner .hero-paragraph {
    font-size: .35rem;
  }
}

.navbar-backdrop {
  display: none;
}

.navbar {
  background-color: #141414;
  padding: .35rem;
}

.navbar.navbar-absolute {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 2;
}

.navbar-container,
.navbar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand {
  margin: .8rem;
}

.navbar-brand>.navbar-brand-icon {
  height: 40px;
  width: 140px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: .5rem;
  margin-left: 2rem;
  width: 100%;
  list-style-type: none;
}

.nav-link {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: .7rem;
  font-weight: 600;
  padding: .4rem 1.5rem;
  text-decoration: none;
  opacity: .65;
  -webkit-transition: color 0.25s, opacity 0.25s;
  transition: color 0.25s, opacity 0.25s;
}

.nav-link::before {
  position: absolute;
  content: '';
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1e-05)), color-stop(#ebc47f), to(rgba(0, 0, 0, 1e-05)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1e-05), #ebc47f, rgba(0, 0, 0, 1e-05));
  margin: auto;
  height: 2px;
  width: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #ebc47f;
  opacity: 1;
}

.nav-link:hover::before,
.nav-link:active::before,
.nav-link:focus::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-user {
  padding-top: .4rem;
  margin-left: auto;
}

.nav-profile-icon {
  padding: .5rem .2rem;
  margin-right: .3rem;
  cursor: pointer;
}

.nav-profile-icon>.nav-user-letter {
  position: relative;
  display: block;
  padding-top: .3rem;
  font-size: 1.1rem;
  font-weight: 100;
  text-align: center;
  height: 40px;
  width: 40px;
  top: -0.22rem;
  border-radius: 100px;
}

@media (max-height: 412px) and (max-width: 768px) {
  .navbar-nav {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    padding: 7rem 2rem;
  }

  .nav-link {
    display: inline-block !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  .navbar-inner {
    width: 100%;
  }

  .nav-profile-icon {
    padding: .5rem;
  }

  .nav-profile-icon>.nav-user-letter {
    font-size: .95rem;
    padding-top: 0;
    height: 27px;
    width: 27px;
  }

  .nav-user-buttons {
    display: none;
  }

  .navbar-backdrop {
    position: fixed;
    display: block;
    background-color: #000000;
    height: 100%;
    width: 100%;
    bottom: 0;
    opacity: 0;
    z-index: 4;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    pointer-events: none;
  }

  .navbar-backdrop.is-active {
    opacity: .85;
  }

  .navbar-brand {
    position: relative;
    top: 3px;
    margin: auto;
  }

  .navbar-brand>.navbar-brand-icon {
    height: 30px;
    width: 100px;
    margin: 0 .5rem;
  }

  .navbar-nav {
    position: fixed;
    display: none;
    padding: 3.55rem 0;
    margin: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: 5;
    text-align: center;
  }

  .navbar-nav.is-active {
    display: block;
  }

  .nav-link {
    display: block;
    font-size: 1rem;
    padding: .8rem 2.5rem;
    margin: 2rem 0;
  }

  .nav-link:hover,
  .nav-link:active,
  .nav-link:focus {
    background-color: transparent;
  }

  .nav-toggler {
    position: relative;
    width: 46px !important;
    height: 40px;
    padding: .8rem;
    margin-left: .5rem;
    cursor: pointer;
    z-index: 6;
  }

  .nav-toggler>.nav-toggler-line {
    display: block;
    background-color: #bbbbbb;
    width: 100%;
    height: 2px;
    margin-bottom: .35rem;
  }

  .nav-toggler>.nav-toggler-line:nth-child(1),
  .nav-toggler>.nav-toggler-line:nth-child(3) {
    width: 60%;
  }

  .nav-toggler.is-active>.nav-toggler-line {
    background-color: #ebc47f;
    -webkit-box-shadow: 0 0 10px 5px rgba(235, 216, 184, 0.3);
    box-shadow: 0 0 10px 5px rgba(235, 216, 184, 0.3);
  }
}

@media screen and (max-width: 664px) {
  .navbar-brand-icon {
    margin: .5rem 1rem;
  }

  .nav-toggler {
    width: 38px;
    margin: 0;
    margin-left: .4rem;
  }

  .nav-toggler>.nav-toggler-line {
    margin-bottom: .3rem;
    -webkit-transform-origin: 8% 40%;
    transform-origin: 8% 40%;
  }
}

.showcase {
  margin: 1rem;
  width: 100%;
}

.showcase-icon-frame {
  position: relative;
  text-align: center;
}

.showcase-icon-frame::before {
  position: absolute;
  content: '';
  background-color: #ebc47f;
  height: 25px;
  width: 25px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 100px 60px #ebc47f;
  box-shadow: 0 0 100px 60px #ebc47f;
}

.showcase-icon-frame .showcase-icon {
  position: relative;
  height: 300px;
  width: 300px;
  z-index: 1;
}

.showcase-img-frame {
  position: relative;
  display: block;
  height: 0;
  padding-right: 34.5%;
  padding-bottom: 110.3%;
}

.showcase-img-frame .showcase-img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showcase-img-frame.overlay {
  -webkit-box-shadow: 0 5px 80px -10px #000000;
  box-shadow: 0 5px 80px -10px #000000;
}

.showcase-img-frame.overlay::before {
  position: absolute;
  content: '';
  background-color: #ebc47f;
  background-image: -webkit-gradient(linear, left top, right top, from(#ebc47f), to(#795e30));
  background-image: linear-gradient(to right, #ebc47f, #795e30);
  height: 80%;
  width: 100%;
  z-index: 0;
}

.showcase-img-frame.backdrop-left::before {
  top: -1rem;
  left: -1rem;
}

.showcase-img-frame.backdrop-right::before {
  right: -1rem;
  bottom: -1rem;
}

@media screen and (max-width: 768px) {
  .showcase-img-frame {
    width: 65%;
    margin: 2rem auto;
    padding-bottom: 70%;
  }

  .showcase-img-frame.backdrop-left::before {
    top: -.8rem;
    left: -.8rem;
  }

  .showcase-img-frame.backdrop-right::before {
    right: -.8rem;
    bottom: -.8rem;
  }
}

.pagination {
  display: block;
  padding: 3rem 0;
  text-align: center;
}

.pagination-item {
  display: inline-block;
  color: #ebc47f;
  margin: 1rem;
  list-style-type: none;
}

.pagination-link {
  color: #ebc47f;
  padding: .6rem 1rem;
  text-decoration: none;
  border-radius: 100px;
}

.pagination-link.active {
  background-color: #ebc47f;
  color: #000000;
  cursor: default;
  pointer-events: none;
}

.quote {
  position: relative;
  padding: 5rem;
  text-align: center;
  z-index: 2;
}

.quote::before,
.quote::after {
  position: absolute;
  color: #ebc47f;
  font: normal 6rem 'Georgia', serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#ebc47f), to(#795e30));
  background-image: linear-gradient(to right, #ebc47f, #795e30);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote::before {
  content: "\275D";
  top: 0;
  left: 1rem;
}

.quote::after {
  content: "\275E";
  right: 1rem;
  bottom: -2rem;
}

.quote .quote-text {
  font: 400 1.3rem 'Georgia', sans-serif;
  line-height: 1.6;
}

.quote .quote-author {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .quote .quote-text {
    font-size: 1rem;
  }

  .quote .quote-author {
    font-size: .7rem;
  }
}

.footer {
  background-color: #101010;
  padding: 3.55rem .8rem;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.footer-brand {
  position: relative;
  margin: .8rem;
  width: 35%;
}

.footer-brand .footer-link {
  font-size: .7rem;
}

.footer-brand-icon {
  text-decoration: none;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.footer-brand-icon:hover,
.footer-brand-icon:focus,
.footer-brand-icon:active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.footer-brand-icon-img {
  height: 45px;
  width: 145px;
}

.footer-paragraph {
  color: rgba(255, 255, 255, 0.45);
  font-size: .8rem;
  margin: 1rem 0;
  line-height: 1.8;
}

.footer-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}

.footer-list {
  margin: 1rem;
}

.footer-list>.footer-list-title {
  color: #bbbbbb;
  margin-bottom: 1.55rem;
  text-transform: uppercase;
}

.footer-list>.footer-list-item {
  display: block;
  margin: .3rem 0;
}

.footer-link {
  color: #ffffff;
  font-size: .9rem;
  text-decoration: none;
  opacity: .45;
  -webkit-transition: opacity 0.25s, color 0.25s;
  transition: opacity 0.25s, color 0.25s;
}

.footer-link:hover,
.footer-link:active,
.footer-link:focus {
  color: #ebc47f;
  opacity: 1;
}

.footer-icons {
  margin: 1rem 0;
  list-style-type: none;
}

.footer-icon-link {
  display: inline-block;
  margin-right: .8rem;
  text-decoration: none;
  opacity: .4;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.footer-icon-link:hover,
.footer-icon-link:focus,
.footer-icon-link:active {
  opacity: 1;
}

.footer-icon-link:hover .footer-icon-fill,
.footer-icon-link:focus .footer-icon-fill,
.footer-icon-link:active .footer-icon-fill {
  fill: #ebc47f;
}

.footer-icon {
  height: 20px;
  width: 20px;
}

.footer-icon-fill {
  fill: #ffffff;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}

@media screen and (max-width: 768px) {
  .footer-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
  }

  .footer-brand {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    width: auto;
    margin: 3rem 3rem 0;
    text-align: center;
  }

  .footer-brand::before {
    display: none;
  }
}

@media screen and (max-width: 664px) {
  .footer {
    padding: 2.55rem 0;
  }

  .footer-container {
    width: 90%;
  }

  .footer-link {
    font-size: .8rem;
  }
}

/*# sourceMappingURL=layout.css.map */