// SASS StyleSheet for goldenrulestrade.com
// By Sujan S.

@import "modules/vars.scss";

::-ms-clear {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.body {
	background-color: $--color-darkest-grey;
	color: $--color-white;
	font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	line-height: 1.8;
}

@media screen and (max-width: $--breakpoint-smallest-screen) {
	.body {
		min-width: $--breakpoint-smallest-screen;
	}
}

.wrapper {
	position: relative;
	margin: 0 auto;
}

@media only screen and (min-width: $--wrapper-breakpoint) {
	.wrapper {
		max-width: $--wrapper-max-width;
	}
}

// Load modules
@import "modules/flex.scss"; // Flex
@import "modules/buttons.scss"; // Buttons
@import "modules/dropdown.scss"; // Dropdown
@import "modules/section.scss"; // Section
@import "modules/grid.scss"; // Grid
@import "modules/card.scss"; // Card
@import "modules/input.scss"; // Input
@import "modules/article.scss"; // Article - For the single news page
@import "modules/horizontal-ruler.scss"; // Horizontal rulers
@import "modules/anchor.scss"; // Anchor links
@import "modules/text.scss"; // Text - Sizes, colors, weight etc...
@import "modules/sizes.scss"; // Sizes - Padding and margin
@import "modules/keyframes.scss"; // Keyframe animations
@import "modules/miscs.scss"; // Miscellaneous classes
@import "modules/avatars.scss"; // Avatar classes	

// -------------------------------------------------------------------------------------------
// Background image class, used in sections
// -------------------------------------------------------------------------------------------
.bg-img {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	z-index: -1;
	&.bg-img-fixed {
		background-attachment: fixed;
	}
}

@media screen and (max-width: $--breakpoint-tablet) {
	.bg-img {
		&.bg-img-fixed {
			background-attachment: initial;
		}
	}
}

// -------------------------------------------------------------------------------------------
// These IDs are used for specific background images
// -------------------------------------------------------------------------------------------

// For the top hero - PHP selects random images from here
#hero-bg-1 { background-image: url('../images/hero-bg-1-WeLwOOpD28FdQsXLdEt.jpg'); }
#hero-bg-2 { background-image: url('../images/hero-bg-2-dWe2zfSxV2LwDpZoQdsm.jpg'); }
#hero-bg-3 { background-image: url('../images/hero-bg-3-d3FhBmKpgRqZAoH5JlN.jpg'); }
#hero-bg-4 { background-image: url('../images/hero-bg-4-dWgYjBnMLqAs4Rb9xZsW.jpg'); }

// For the member count section, that shows 1 family, X members, 1 goal
#member-count {
	position: relative;
	background-image: url('../images/member-count-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	z-index: -1;
	/*
	 * Since we have set the border-bottom property for the section class
	 * we don't need bottom border set for this specific one so force remove it
	 */
	border-bottom: none !important;
	&::before {
		position: absolute;
		content: '';
		background-color: $--color-black;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: .8;
	}
}

// Flash animation for the cookies section in privacy policy page
#cookie-section {
	position: relative;
	&.highlighted::before {
		position: absolute;
		content: '';
		background-color: rgba(235, 216, 184, .3);
		top: .5rem;
		bottom: 0;
		left: 0;
		right: 0;
		transform: scale(1.02);
		-webkit-animation: flash-off .8s 1.15s forwards;
		-moz-animation: flash-off .8s 1.15s forwards;
		animation: flash-off .8s 1.15s forwards;
	}
}

// -------------------------------------------------------------------------------------------
// Hero class
// -------------------------------------------------------------------------------------------
.hero {
	position: relative;
	height: 680px; // For browsers that don't support the vh
	height: 100vh;
	width: 100%;
	z-index: 1;
  overflow: hidden;
	&::before,
	&::after {
		position: absolute;
		content: '';
		background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2));
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
  }
	&::after {
		background-image: none;
		background-color: $--color-black;
		opacity: .6;
		z-index: -1;
	}
	.hero-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 680px;
		height: 100vh;
		.hero-inner {
			position: relative;
			padding: 1rem;
			width: 500px;
			&::before {
				position: absolute;
				content: '';
				background-color: $--color-gold;
				height: 1px;
				width: 10%;
				top: -1rem;
				left: 1rem;
			}
			& .btn {
				padding: .5rem 1.55rem;
			}
			& .hero-heading {
				display: inline-block;
				color: $--color-gold;
				font: 800 3.55rem 'Source Serif Pro', sans-serif;
				line-height: 1.2;
			}
			& .hero-paragraph {
				color: $--color-lightest-grey;
				font-family: 'Source Serif Pro';
				font-size: .9rem;
				letter-spacing: 1px;
				line-height: 1.8;
			}
			@media screen and (max-width: $--breakpoint-tablet) {
				text-align: center;
				margin: auto;
				&::before {
					margin: auto;
					left: 0;
					right: 0;
				}
			}
			@media screen and (max-width: $--breakpoint-mobile) {
				width: 100%;
				& .hero-heading {
					font-size: 2.55rem;
				}
				& .hero-paragraph {
					font-size: .85rem;
				}
			}
			@media (max-height: 312px) and (max-width: $--breakpoint-tablet) {
				& .hero-heading {
					font-size: 1rem;
				}
				& .hero-paragraph {
					font-size: .75rem;
				}
			}
			@media (max-height: 212px) and (max-width: 500px) {
				& .hero-heading {
					font-size: .5rem;
				}
				& .hero-paragraph {
					font-size: .35rem;
				}
			}
		}
	}
}

// -------------------------------------------------------------------------------------------
// Navbar class
// -------------------------------------------------------------------------------------------
.navbar-backdrop {
  display: none;
}

.navbar {
  background-color: $--color-dark-grey;
  padding: .35rem;
  &.navbar-absolute {
    position: absolute;
    background-color: transparent;
    width: 100%;
    z-index: 2;
  }
}

.navbar-container,
.navbar-inner {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin: .8rem;
  & > .navbar-brand-icon {
    height: 40px;
    width: 140px;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin: .5rem;
  margin-left: 2rem;
  width: 100%;
  list-style-type: none;
}

.nav-link {
  position: relative;
  display: block;
  color: $--color-white;
  font-size: .7rem;
  font-weight: 600;
  padding: .4rem 1.5rem;
  text-decoration: none;
  opacity: .65;
  transition: color $--transition-time, opacity $--transition-time;
  &::before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to right, rgba(0, 0, 0, .00001), $--color-gold, rgba(0, 0, 0, .00001));
    margin: auto;
    height: 2px;
    width: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform $--transition-time;
  }
  &:hover,
  &:active,
  &:focus {
    color: $--color-gold;
    opacity: 1;
    &::before {
      transform: scaleX(1);
    } 
  }
}

// User profile classes on the navbar
.nav-user {
  padding-top: .4rem;
  margin-left: auto;
}

.nav-profile-icon {
  padding: .5rem .2rem;
  margin-right: .3rem;
  cursor: pointer;
  & > .nav-user-letter {
    position: relative;
    display: block;
    padding-top: .2rem;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
    height: 40px;
    width: 40px;
    top: -0.22rem;
    border-radius: $--border-radius-fully-round;
  }
}

@media (max-height: 412px) and (max-width: $--breakpoint-tablet) {
  .navbar-nav {
    flex-direction: initial;
    padding: 7rem 2rem;
  }

  .nav-link {
    display: inline-block !important;
  }
}

@media screen and (max-width: $--breakpoint-tablet) {
  .navbar {
    padding: 0;
  }

  .navbar-inner {
    width: 100%;
  }
  
  // Show profile icon when not logged in for tablet and mobile view only
  .nav-profile-icon {
    padding: .5rem;
    & > .nav-user-letter {
      font-size: .95rem;
      padding-top: 0;
      height: 27px;
      width: 27px;
    }
  }
  
  // Hide login and register buttons for tablet and mobile view
  .nav-user-buttons {
    display: none;
  }

  .navbar-backdrop {
    position: fixed;
    display: block;
    background-color: $--color-black;
    height: 100%;
    width: 100%;
    bottom: 0;
    opacity: 0;
    z-index: 4;
    transition: opacity $--transition-time;
    pointer-events: none;
    &.is-active {
      opacity: .85;
    }
  }

  .navbar-brand {
    position: relative;
    top: 3px;
    margin: auto;
    & > .navbar-brand-icon {
      height: 30px;
      width: 100px;
      margin: 0 .5rem;
    }
  }

  .navbar-nav {
    position: fixed;
    display: none;
    padding: 3.55rem 0;
    margin: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: 5;
    text-align: center;
    &.is-active {
      display: block;
    }
  }

  .nav-link {
    display: block;
    font-size: 1rem;
    padding: .8rem 2.5rem;
		margin: 2rem 0;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }

  .nav-toggler {
    position: relative;
    width: 46px !important;
    height: 40px;
    padding: .8rem;
    margin-left: .5rem;
    cursor: pointer;
    z-index: 6;
    & > .nav-toggler-line {
      display: block;
      background-color: $--color-lightest-grey;
      width: 100%;
      height: 2px;
      margin-bottom: .35rem;
    }
    & > .nav-toggler-line:nth-child(1),
    & > .nav-toggler-line:nth-child(3) { width: 60%; }
    &.is-active > .nav-toggler-line {
      background-color: $--color-gold;
      box-shadow: 0 0 10px 5px rgba(235, 216, 184, .3);
    }
  }
}

@media screen and (max-width: $--breakpoint-mobile) {
  .navbar-brand-icon {
    margin: .5rem 1rem;
  }

  .nav-toggler {
    width: 38px;
    margin: 0;
    margin-left: .4rem;
    & > .nav-toggler-line {
      margin-bottom: .3rem;
      transform-origin: 8% 40%;
    }
  }
}

// -------------------------------------------------------------------------------------------
// Showcase class
// -------------------------------------------------------------------------------------------
.showcase {
	margin: 1rem;
	width: 100%;
}

.showcase-icon-frame {
	position: relative;
	text-align: center;
	&::before {
		position: absolute; 
		content: '';
		background-color: $--color-gold;
		height: 25px;
		width: 25px;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		border-radius: $--border-radius-fully-round;
		box-shadow: 0 0 100px 60px $--color-gold;
	}
	& .showcase-icon {
		position: relative;
		height: 300px;
		width: 300px;
		z-index: 1;
	}
}

.showcase-img-frame {
	position: relative;
	display: block;
	height: 0;
	padding-right: 34.5%;
	padding-bottom: 110.3%;
	& .showcase-img {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	&.overlay {
		box-shadow: 0 5px 80px -10px $--color-black;
		&::before {
			position: absolute;
			content: '';
			background-color: $--color-gold;
			background-image: linear-gradient(to right, $--color-gold, $--color-dark-gold);
			height: 80%;
			width: 100%;
			z-index: 0;
		}
	}
	&.backdrop-left::before {
		top: -1rem;
		left: -1rem;
	}
	&.backdrop-right::before {
		right: -1rem;
		bottom: -1rem;
	}
	@media screen and (max-width: $--breakpoint-tablet) {
		width: 65%;
		margin: 2rem auto;
		padding-bottom: 70%;
		&.backdrop-left::before {
			top: -.8rem;
			left: -.8rem;
		}
		&.backdrop-right::before {
			right: -.8rem;
			bottom: -.8rem;
		}
	}
}

// -------------------------------------------------------------------------------------------
// Pagination class
// -------------------------------------------------------------------------------------------
.pagination {
  display: block;
  padding: 3rem 0;
  text-align: center;
}

.pagination-item {
  display: inline-block;
  color: $--color-gold;
  margin: 1rem;
  list-style-type: none;
}

.pagination-link {
  color: $--color-gold;
  padding: .6rem 1rem;
  text-decoration: none;
  border-radius: $--border-radius-fully-round;
  &.active {
    background-color: $--color-gold;
    color: $--color-black;
    cursor: default;
    pointer-events: none;
  }
}

// -------------------------------------------------------------------------------------------
// Quote box class
// -------------------------------------------------------------------------------------------
.quote {
	position: relative;
	padding: 5rem;
	text-align: center;
  z-index: 2;
	&::before,
	&::after {
		position: absolute;
		color: $--color-gold;
		font: normal 6rem 'Georgia', serif;
		background-image: linear-gradient(to right, $--color-gold, $--color-dark-gold);
		background-clip: text;
		-webkit-background-clip: text; 
		-webkit-text-fill-color: transparent;
	}
	&::before {
		content: "\275D";
		top: 0;
		left: 1rem;
	}
	&::after {
		content: "\275E";
		right: 1rem;
		bottom: -2rem;
  }
	& .quote-text {
		font: 400 1.3rem 'Georgia', sans-serif;
		line-height: 1.6;
	}
	& .quote-author {
		margin: 1rem;
	}
	@media screen and (max-width: $--breakpoint-tablet) {    
		& .quote-text {
			font-size: 1rem;
		}
		& .quote-author {
			font-size: .7rem;
		}
	}
}

// -------------------------------------------------------------------------------------------
// Footer class
// -------------------------------------------------------------------------------------------
.footer {
	background-color: $--color-darker-grey;
	padding: 3.55rem .8rem;
}

.footer-container {
	display: flex;
	justify-content: start;
}

.footer-brand {
	position: relative;
	margin: .8rem;
	width: 35%;
	.footer-link {
		font-size: .7rem;
	}
}

.footer-brand-icon {
	text-decoration: none;
	transition: filter $--transition-time;
	filter: grayscale(1);
	&:hover,
	&:focus,
	&:active {
		filter: grayscale(0);
	}
}

.footer-brand-icon-img {
	height: 45px;
	width: 145px;
}

.footer-paragraph {
	color: rgba(255, 255, 255, .45);
	font-size: .8rem;
	margin: 1rem 0;
	line-height: 1.8;
}

.footer-list-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.footer-list {
	margin: 1rem;
	& > .footer-list-title {
		color: $--color-lightest-grey;
		margin-bottom: 1.55rem;
		text-transform: uppercase;
	}
	& > .footer-list-item {
		display: block;
		margin: .3rem 0;
	}
}

.footer-link {
	color: $--color-white;
	font-size: .9rem;
	text-decoration: none;
	opacity: .45;
	transition: opacity $--transition-time, color $--transition-time;
	&:hover,
	&:active,
	&:focus {
		color: $--color-gold;
		opacity: 1;
	}
}

.footer-icons {
	margin: 1rem 0;
	list-style-type: none;
}

.footer-icon-link {
	display: inline-block;
	margin-right: .8rem;
	text-decoration: none;
	opacity: .4;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	transition: opacity .25s;
	&:hover,
	&:focus,
	&:active {
		opacity: 1;
		& .footer-icon-fill {
			fill: $--color-gold;
		}
	}
}

.footer-icon {
	height: 20px;
	width: 20px;
}

.footer-icon-fill {
	fill: $--color-white;
	transition: fill $--transition-time
}

@media screen and (max-width: $--breakpoint-tablet) {
	.footer-container {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		width: 80%;
		margin: 0 auto;
	}

	.footer-brand {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		width: auto;
		margin: 3rem 3rem 0;
		text-align: center;
		&::before {
			display: none;
		}
	}
}

@media screen and (max-width: $--breakpoint-mobile) {
	.footer {
		padding: 2.55rem 0;
	}

	.footer-container {
		width: 90%;
	}

	.footer-link {
		font-size: .8rem;
	}
}