.form-alert {
  background-color: $--color-danger;
  color: $--color-white;
  font-size: .8rem;
  margin-bottom: 2rem;
  padding: .8rem 1rem;
  border-radius: $--border-radius-1x;
}

.input-group {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2rem;

  &.input-group-inlined {
    display: flex;
    justify-content: space-between;
  }
}

.input-label {
  font-size: .8rem;
  color: $--color-lighter-grey;
}

.input,
.textarea {
  background-color: rgba(255, 255, 255, .05);
  color: $--color-lightest-grey;
  padding: .85rem 1.55rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: $--border-radius-fully-round;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder {
    color: $--color-lighter-grey;
    font-size: .7rem;
  }
  &:focus::-webkit-input-placeholder,
  &:focus::-moz-placeholder,
  &:focus:-moz-placeholder {
    color: $--color-light-grey;
  }

  &:disabled {
    opacity: .5;
  }

  &.input-error {
    -webkit-box-shadow: inset 0 0 0 2px $--color-danger;
    -moz-box-shadow: inset 0 0 0 2px $--color-danger;
    box-shadow: inset 0 0 0 2px $--color-danger;

    & + .input-sub-label {
      color: $--color-danger;
    }
  }
}

.textarea {
  font-family: sans-serif;
  padding-top: 2rem;
  border-radius: 0;
  resize: none;
}

.input-inlined {
  width: 47%;
}

.input-sub-label {
  display: block;
  color: $--color-light-grey;
  font-size: .7rem;
  margin: .5rem 0;
  margin-left: 1.5rem;
}

@media screen and (max-width: 654px) {
  .input-group {
    margin: 2rem 0;

    &.input-group-inlined {
      flex-direction: column;
    }
  }

  .input-inlined {
    width: 100%;

    &:nth-child(1) {
      margin-bottom: 2rem;
    }
  }
}
